html{
    touch-action: pan-y;
    background: #f5f5f5;
}
body{
    margin:0;padding:0;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    width: 100%;
    height: 100vh;
}
.doc{ padding: 0.5rem;}
.doc h2{font-size: 25px;color: #333;font-weight: 400;
    font-family: Lato,Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;}

.transf, .transf .pages{
    /*transition: all 0.2s;*/
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.doc-enter {
    transform: translate3d(0%,0%,0);
    position: absolute;
    width: 100vw;
}
.doc-leave {
    transform: translate3d(100%,0%,0);
    position: absolute;
    width: 100vw;
}
.doc-leave-end {
    transform: translate3d(-100%,0%,0);
    position: absolute;
    width: 100vw;
}


.title-enter {
    transform: translate3d(0%,0%,0);
    position: absolute;
    opacity: 1;
}
.title-leave {
    transform: translate3d(100%,0%,0);
    position: absolute;
    opacity: 0;
}
.title-leave-end {
    transform: translate3d(-100%,0%,0);
    position: absolute;
    opacity: 0;
}

.pageContent{
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.has-header{
    padding-top: 3rem;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.articles{
    .image-package{
        width: 100%!important;
    }
    img{
        width: 100%;
    }
}
.menu-tab{
    .tab-header{
        border-top: 0;
    }
}

.carousel-container{
    .carousel-dot{
        width: 0.4rem!important;
        height: 0.4rem!important;
        border-radius: 0.5rem!important;
        &.active{
            background: transparent;
            border: 1px solid #fff;
        }
        &.default{
            background: #fff;
        }

    }
}
.loading-data{
    position: fixed;
    top: 20%;
    left: 50%;
    transform:translate(-50%,-50%);
    z-index: 1000;
    color:  #fff;
}
.bg{
    width: 100%;
    &.bg1{
        background: url('./images/bg.png'); 
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    &.bg2{
        background: url('./images/bg2.png'); 
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.bg3{
        background: url('./images/bg3.png'); 
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.bg4{
        background: url('./images/picturePost.png'); 
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.bg5{
        background: url('./images/logobot.png'); 
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.bgx{
        background: url('./images/bgx.png'); 
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.bgy{
        background: url('./images/bgy.png'); 
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.bgz{
        background: url('./images/bgz.png'); 
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.post-bg1{
        background: url('./images/1.png'); 
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.post-bg2{
        background: url('./images/2.png'); 
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.post-bg3{
        background: url('./images/3.png'); 
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.post-bg4{
        background: url('./images/4.png'); 
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.post-bg5{
        background: url('./images/5.png'); 
        background-repeat: no-repeat;
        background-size: 100%;
    }
    &.post-bg6{
        background: url('./images/6.png'); 
        background-repeat: no-repeat;
        background-size: 100%;
    }
}
.icon{
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    &.little{
        width: 1rem;
        height: 1rem;
    }
    &.small{
        width: 2rem;
        height: 2rem;
    }
    &.trophy{
        width: 2.5rem;
        height: 2.5rem;
    }
    &.middle{
        width: 4rem;
        height: 4rem;
    }
    &.icon-logo{
        // background: url('./images/logo.png');
        background-repeat: no-repeat;
        width: 5rem;
        height: 4rem;
        background-size: 5rem;
    }
    &.icon-personRond{
        width: 7rem;
        height: 7rem;
    }
    &.icon-personRond-inner{
        width: 6rem;
        height: 6rem;
        left: 0.5rem;
        top: 0.5rem;
    }
    &.icon-sport{
        background: url('./images/syei24.png');
        background-repeat: no-repeat;
        background-size: 1.4rem;
    }
    &.icon-boy{
        background: url('./images/syei11.png');
        background-repeat: no-repeat;
        background-size: 1.4rem;
    }
    &.icon-girl{
        background: url('./images/syei12.png');
        background-repeat: no-repeat;
        background-size: 1.4rem;
    }
    &.icon-teacher{
        background: url('./images/syei13.png');
        background-repeat: no-repeat;
        background-size: 1.4rem;
    }
    &.icon-trophy-0{
        background: url('./images/syei7.png');
        background-repeat: no-repeat;
        background-size: 2rem;
    }
    &.icon-trophy-1{
        background: url('./images/syei8.png');
        background-repeat: no-repeat;
        background-size: 2rem;
    }
    &.icon-trophy-2{
        background: url('./images/syei9.png');
        background-repeat: no-repeat;
        background-size: 2rem;
    }

    &.icon-result{
        background: url('./images/syei18.png');
        background-repeat: no-repeat;
        background-size: 4rem;
    }

    &.icon-camera{
        background: url('./images/syei19.png');
        background-repeat: no-repeat;
        background-size: 1.4rem;
    }

    &.icon-video{
        background: url('./images/syei20.png');
        background-repeat: no-repeat;
        background-size: 1.4rem;
    }

    &.icon-home{
        background: url('./images/syei1.png');
        background-repeat: no-repeat;
        background-size: 1.4rem;
    }
    &.icon-home-a{
        background: url('./images/syei1-a.png');
        background-repeat: no-repeat;
        background-size: 1.4rem;
    }
    &.icon-rating{
        background: url('./images/syei2.png');
        background-repeat: no-repeat;
        background-size: 1.4rem;
    }
    &.icon-rating-a{
        background: url('./images/syei2-a.png');
        background-repeat: no-repeat;
        background-size: 1.4rem;
    }
    &.icon-my{
        background: url('./images/syei3.png');
        background-repeat: no-repeat;
        background-size: 1.4rem;
    }
    &.icon-my-a{
        background: url('./images/syei3-a.png');
        background-repeat: no-repeat;
        background-size: 1.4rem;
    }
    &.icon-working{
        background: url('./images/syei4.png');
        background-repeat: no-repeat;
        background-size: 2rem;
    }
    &.icon-working-small{
        background: url('./images/syei4.png');
        background-repeat: no-repeat;
        background-size: 1.5rem;
    }
    &.icon-focus-small{
        background: url('./images/syei17.png');
        background-repeat: no-repeat;
        background-size: 1.4rem;
    }
    &.icon-working-a{
        background: url('./images/syei4-a.png');
        background-repeat: no-repeat;
        background-size: 2rem;
    }
    &.icon-complate{
        background: url('./images/syei5.png');
        background-repeat: no-repeat;
        background-size: 1.4rem;
    }
    &.icon-complate-a{
        background: url('./images/syei5-a.png');
        background-repeat: no-repeat;
        background-size: 1.4rem;
    }

}

.all-bg{
    width: 1.5rem;
    height: 1.5rem;
    background: url('./images/allbg.png');
    background-repeat: no-repeat;
    background-size: 1.4rem;
}